@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&family=Patrick+Hand&display=swap');

:root {
  /* width */
  --max-w: 1224px;
  /* padding */
  --p-sm: .5rem;
  --p-md: 2rem;

  /* borders */
  --br: 4px;

  /* colors */
  --btn-green: #fefae0;

  /* theme */
  --light-green: #606c38;
  --light-green2: #283618;
  --cream: #eae5d9;
  --cream2: #faedcd;
  --cream3: #f2eee7;
  --light-cream: #f6f4f1;
  --brown: #d4a373;
  --orange: #b73d09;

  /* fonts */
  --serif: 'Lora', serif;
  --sans: 'Montserrat', sans-serif;

  /* text [line-height] */
  --lh-md: 1.5;
  /* font weight  */
  --main: 400
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

/* DEFAULTS */
/* TITLE */
.main-title {
  font-family: var(--serif);
  font-weight: var(--main);
  line-height: var(--lh-md);
  font-size: 3rem;
  /* margin: 2rem 0; */

}

.sub-title {
  font-family: var(--serif);
  font-weight: var(--main);
  line-height: var(--lh-md);
  font-size: 1.5rem;
  letter-spacing: 2px;
}

/* CONTAINERS  */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* BUTTONS  */
.btn {
  height: 4rem;
  width: 24rem;
  text-align: center;
  padding: 2rem;
  border-radius: var(--br);
  color: white;
  background-color: var(--orange);
  font-family: var(--sans);
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.btn:hover {
  opacity: 70%;
  transition-duration: 100ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* mobile hamburger menu */
.mobile-container {
  margin: auto;
  z-index: 50;
  color: black;
}

.navbar-mobile {
  width: 100%;
}

.navbar-mobile h1 {
  font-weight: 600;
  color: black;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar-mobile .menu-items {
  display: flex;

}

.navbar-mobile .nav-container li {
  list-style: none;
}

.navbar-mobile .nav-container a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar-mobile .nav-container a:hover {
  font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: black;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.menu-items>a {
  color: black;
}

.navbar-mobile .menu-items {
  padding-top: 120px;
  background-color: gainsboro;

  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.navbar-mobile .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.logo {
  display: flex;
  position: absolute;
  right: 15px;
  font-size: 1.2rem;
  color: white;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.nav-container input[type='checkbox']:checked~.menu-items {
  transform: translateX(0);
}

.nav-container input[type='checkbox']:checked~.hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type='checkbox']:checked~.hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type='checkbox']:checked~.hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type='checkbox']:checked~.logo {
  display: none;
}

.hide {
  display: none;
}

/* 
------------------------------------------
large viewport navbar
------------------------------------------ 
*/
#large-navbar {
  max-height: 12rem;
  width: 100%;
  display: none;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-size: auto;
  background-size: contain;
  font-family: var(--sans);
  text-transform: uppercase;
}

.nav-topbar {
  height: 2.5rem;
  width: 100%;
  background-color: var(--orange)
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#large-navbar>section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;

}

.nav-container>ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem
}

.nav-link {
  padding: var(--p-sm);
  list-style: none;
  border-radius: var(--br);
}

nav .nav-link:hover {
  background-color: white;
}

.all-products-nav-items:hover {
  transition-duration: 100ms;
  background-color: gainsboro;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.product-name {
  margin: var(--p-sm) 0;
}

/* 
------------------------------------------
landing header component
------------------------------------------ 
*/
.header-cta {
  gap: 1rem;
  margin-bottom: 1rem;
  padding: 2rem;
  background-color: var(--cream);
  align-items: center;

}

.header-cta>a {
  margin-top: 1rem;
}

.header-cta>p:nth-child(2n+1) {
  width: 50%;
  text-align: center;
}

/* 
------------------------------------------
Home component
------------------------------------------ 
*/
.home-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* CHANGE HEIGHT TO 100% INSTEAD OF 100 VIEWPORT WIDTH */
  height: 100%;
  overflow: hidden;
  padding: 2rem 0;
}

.home-header {
  display: flex;
  width: 100%;
  justify-content: center;
}

.image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.image-container a>img {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-article {
  justify-content: center;
  align-items: center;
}

.image-article>figure {
  margin: 2rem 0;
  justify-content: center;
  text-align: center;
  align-items: center;
}

figure>p {
  width: 50%;
}

/* 
------------------------------------------
products container
------------------------------------------ 
*/
.all-products-item>img {
  width: 12rem;
}

/* 
------------------------------------------
footer
------------------------------------------ 
*/
.footer {
  width: 100%;
  height: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--orange);
  color: white;
}

/* 
------------------------------------------
all products component
------------------------------------------ 
*/
.products-container {
  height: 100%;
}

.all-products-container {
  padding: var(--p-sm);
}

/* 
------------------------------------------
side navbar
------------------------------------------ 
*/
.all-products-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: var(--p-md);
  border-right: 2px solid gainsboro;
}

.all-products-nav-items {
  text-align: start;
  padding: var(--p-sm);
  cursor: default;
}

.all-products-btn {
  width: 75%;
  margin: 1rem 0;
  margin-bottom: 2rem;
  background-color: var(--orange);
  color: white;
  border: none;
  padding: var(--p-sm);
  height: 3rem;
  border-radius: var(--br);
  cursor: pointer;
}

.all-products-btn:hover {
  opacity: 70%;
  transition-duration: 100ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* 
------------------------------------------
single product component
------------------------------------------ 
*/
/* .single-products-container {}

.single-products-container {}

.single-product-section {} */

/* 
------------------------------------------
similar product component
------------------------------------------ 
*/
.similar-products-title {
  width: 100%;
  margin-bottom: 1rem;
  display: flex;
}

.similar-products-container ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

.similar-products-item {
  height: 12rem;
  overflow: hidden;
}



@media (min-width: 947px) {
  .all-products-container {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 2rem;
    justify-content: center;
  }

  .all-products-div {
    max-width: 1600px;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: var(--p-sm);
  }

  .all-products-nav {
    display: flex;
    flex-direction: column;
    width: 20%;
  }

  .all-products-nav-items {
    text-align: start;
    padding: var(--p-sm);
    cursor: default;
  }

  .all-products-section {
    width: 48rem;
    margin-top: 2rem;
  }

  .all-products-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }

  .all-products-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    overflow: hidden;
    background-color: var(--light-cream);
    padding: var(--p-sm);

  }

  .all-products-item>img {
    width: 12rem;
  }

  .similar-products-item>img {
    width: 12rem;
  }

  .product-description {
    text-align: center;
  }

  /* 
------------------------------------------
single product component
------------------------------------------ 
*/
  .single-products-container {
    height: 100%;
  }

  .single-product-section {}

  /* 
------------------------------------------
footer
------------------------------------------ 
*/
  .footer {
    width: 100%;
    height: 24rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--orange);
    color: white;
  }
}

/* 
------------------------------------------
media queries 
------------------------------------------ 
*/
@media (min-width: 768px) {}

@media (min-width: 978px) {
  .image-container {
    display: flex;
    justify-content: flex-start;
  }

  .home-component {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
  }

  .login-form {
    max-width: 40vw;
  }
}

@media (min-width: 1140px) {
  .header-cta {
    height: 24rem;
  }

  .header-cta>p:nth-child(2n+1) {
    max-width: 36rem;
  }


  .image-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
  }

  .image-article a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-image {
    width: 20rem;
  }

  figure>p {
    width: 75%;
  }

  .login-form {
    max-width: 40vw;
  }
}