/* mobile hamburger menu */
.mobile-container {
    margin: auto;
    z-index: 50;
    color: black;
}

.navbar-mobile {
    width: 100%;
}

.navbar-mobile h1 {
    font-weight: 600;
    color: black;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

.navbar-mobile .menu-items {
    display: flex;

}

.navbar-mobile .nav-container li {
    list-style: none;
}

.navbar-mobile .nav-container a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
}

.navbar-mobile .nav-container a:hover {
    font-weight: bolder;
}

.nav-container {
    display: block;
    position: relative;
    height: 60px;
}

.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: black;
}

.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.menu-items>a {
    color: black;
}

.navbar-mobile .menu-items {
    padding-top: 120px;
    background-color: gainsboro;

    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
}

.navbar-mobile .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.logo {
    display: flex;
    position: absolute;
    right: 15px;
    font-size: 1.2rem;
    color: white;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.nav-container input[type='checkbox']:checked~.menu-items {
    transform: translateX(0);
}

.nav-container input[type='checkbox']:checked~.hamburger-lines .line1 {
    transform: rotate(45deg);
}

.nav-container input[type='checkbox']:checked~.hamburger-lines .line2 {
    transform: scaleY(0);
}

.nav-container input[type='checkbox']:checked~.hamburger-lines .line3 {
    transform: rotate(-45deg);
}

.nav-container input[type='checkbox']:checked~.logo {
    display: none;
}

.hide {
    display: none;
}

.logout-btn {
    width: 6rem;
    padding: 0.5rem;
    border-radius: var(--br);
    color: white;
    background-color: var(--orange);
    border: none;
    text-transform: uppercase;
}

/* 
  ------------------------------------------
  large viewport navbar
  ------------------------------------------ 
  */
#large-navbar {
    max-height: 12rem;
    width: 100%;
    display: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-size: auto;
    background-size: contain;
    font-family: var(--sans);
    text-transform: uppercase;
}

.nav-topbar {
    height: 2.5rem;
    width: 100%;
    background-color: var(--orange)
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#large-navbar>section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;

}

.nav-container>ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem
}

.nav-link {
    padding: var(--p-sm);
    list-style: none;
    border-radius: var(--br);
}

nav .nav-link:hover {
    background-color: white;
}

.all-products-nav-items:hover {
    transition-duration: 100ms;
    background-color: gainsboro;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.product-name {
    margin: var(--p-sm) 0;
}

/* 
------------------------------------------
media queries 
------------------------------------------ 
*/
@media (min-width: 768px) {
    .navbar-mobile {
        display: none;
    }

    #large-navbar {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 978px) {}

@media (min-width: 1140px) {}