:root {
  /* width */
  --max-w: 1224px;
  /* padding */
  --p-sm: .5rem;
  --p-md: 2rem;

  /* borders */
  --br: 4px;

  /* colors */
  --btn-green: green;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 
---------------------
large viewport navbar
--------------------- 
*/
.navbar {
  background-color: rgb(247, 247, 247);
  height: 6rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-size: auto;
  background-size: contain;
}

.nav-container {
  display: flex;
  justify-content: center;
}

.nav-container>ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem
}

.nav-link {
  padding: var(--p-sm);
  list-style: none;
  border-radius: var(--br);
}

nav .nav-link:hover {
  background-color: white;
}

.all-products-nav-items:hover {
  transition-duration: 100ms;
  background-color: gainsboro;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.product-name {
  margin: var(--p-sm) 0;
}

/* 
---------------------
products container
--------------------- 
*/
.all-products-item>img {
  width: 12rem;
}

/* 
---------------------
footer
--------------------- 
*/
.footer {
  width: 100%;
  height: 24rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--btn-green);
  color: white;
}

/* 
---------------------
all products component
--------------------- 
*/
.products-container {
  height: 100%;
}

.all-products-container {
  padding: var(--p-sm);
}

.all-products-nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: var(--p-md);
}

.all-products-nav-items {
  text-align: start;
  padding: var(--p-sm);
  cursor: default;
}

.all-products-btn {
  width: 75%;
  margin: 1rem 0;
  margin-bottom: 2rem;
  background-color: var(--btn-green);
  color: white;
  border: none;
  padding: var(--p-sm);
  height: 3rem;
  border-radius: var(--br);
  cursor: pointer;
}

.all-products-btn:hover {
  opacity: 70%;
  transition-duration: 100ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 947px) {
  .all-products-container {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 2rem;
    justify-content: center;
  }

  .all-products-div {
    max-width: 1600px;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: var(--p-sm);
  }

  .all-products-nav {
    display: flex;
    flex-direction: column;
    width: 20%;
  }

  .all-products-nav-items {
    text-align: start;
    padding: var(--p-sm);
    cursor: default;
  }

  .all-products-section {
    width: 48rem;
    margin-top: 2rem;
  }

  .all-products-section>ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
  }

  .all-products-item {
    height: 24rem;
    overflow: hidden;

  }

  .all-products-item>img {
    width: 12rem;
  }

  /* 
---------------------
footer
--------------------- 
*/
  .footer {
    width: 100%;
    height: 24rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--btn-green);
    color: white;
  }
}